:root{
    --bg-second: rgba(0, 150, 130, 0.747);
}

*, *:hover{
    transition: .3s;
}



form{
    margin: 40px 0 !important;
    padding: 20px;
    border: 2px solid silver;
}
form hr{
    width: 100%;
    height: 2px;
}
form .uk-margin:first-of-type{
    padding: 20px;
    background: silver;
    position: relative;

}
form .uk-margin:first-of-type:hover{
    background: var(--bg-second);
    color: white;

}

form input[type="file"]{
    width: 100%;
    height: 50px;
    display: block;
    align-self: center;
    display: flex;
    position: absolute;
    justify-self: center;
    left: 0;
    top: 0;
    height: fit-content;
    padding: 50px 20px;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.file{
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 10px;
    background: rgb(41, 41, 41);
}
.file *{
    color: white;
}

.file:hover{
    background: var(--bg-second);
}

.description p{
    margin: 0;
}
.remove{
    cursor: pointer;
}

.uk-notification .uk-notification-message *{
    word-break: break-all;
}